In [2]:
# import the modules
import pandas as pd
import numpy as np

In [3]:
# create the series
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [8]:
# union of the series
union = pd.Series(np.union1d(ser1, ser2))
print(union)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [9]:
# intersection of the series
intersect = pd.Series(np.intersect1d(ser1, ser2))
print(intersect)

0    4
1    5
dtype: int64

In [10]:
# uncommon elements in both the series
notcommonseries = union[~union.isin(intersect)]

In [11]:
union

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [7]:
~union

0   -2
1   -3
2   -4
3   -5
4   -6
5   -7
6   -8
7   -9
dtype: int64

In [9]:
# displaying the result
print(notcommonseries)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [11]:
# Import pandas library
import pandas as pd

# initialize list of lists
data = {'Aryan'[ 'Singh','Full time employee','Administration',2,20000], 
        {'Rohan'[ 'Agarwal',' Intern','Technical',3,5000],
        {'Riya' ['Shah','Full time employee','Administration',5,10000],
        {'Yash' ['Bhatia','Part time employee','Technical',7,10000],
        {'Siddhant'[ 'Khanna','Full time employee','management',6,20000]]}

# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['First Name','Last Name', 'Type','Department', 'YoE','Salary'])

# print dataframe.
print(df)

SyntaxError: unexpected EOF while parsing (1541704651.py, line 12)